@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.contatiner {
    height: 100vh;
    box-sizing: border-box;
    background: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
}
header {
    background: white;
    height: 4em;
}

main {
    box-sizing: content-box;
    height: 100%;
}

footer {
    background: greenyellow;
}

    
